<div class="TS-series_legend_item TS-series_legend_item_<%= name.replace(/\W/g, "") %>">
  <span class="TS-series_legend_swatch TS-series_legend_swatch_<%= color %>">&nbsp;</span> <span class="TS-series_legend_text"><%= name %></span>
</div>
