<link href="timeline-setter.css" rel="stylesheet" />
<script src="http://www.propublica.org/js/public/assets/all.js?1296850807"></script>
<div class="timeline_controls">
  <a href="#" class="timeline_zoom" data-zoom-direction="in">+</a> | <a href="#" class="timeline_zoom" data-zoom-direction="out">-</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="#" class="timeline_scrub" data-scrub-direction="left">&laquo;</a> | <a href="#" class="timeline_scrub" data-scrub-direction="right">&raquo;</a>
</div>

<div id="timeline">
  <div class="timeline_notchbar_container">
    <div class="timeline_notchbar"></div>
  </div>
  <div class="timeline_arrow_container">
    <div class="css_arrow css_arrow_up" style="display:none;"></div>
  </div>
  <div id="timeline_card_container"></div>
</div>

<script type="text/javascript">
  var timelineData = <%= self.to_json %>;
</script>
<script id="notch_tmpl" type="text/jst">
  <div class="timeline_notch notch_<%%= timestamp %>" data-timestamp="<%%= timestamp %>">&nbsp;</div>
</script>
<script id="card_tmpl" type="text/jst">
  <div class="item item_active" data-timestamp="<%%= timestamp %>">
    <div class="item_label">
      <%%= event_description %>
    </div>
      <%% if (event_link){ %>
        <div class="doc_img">
          <a target="_blank" href="<%%= event_link %>"><img src="<%%= event_thumbnail %>"></a>
          <div class="read_btn"><a target="_blank" href="<%%= event_link %>">Read More</a></div>
        </div>
      <%% } %>

    <div class="item_year">
      <%%= event_date %>
    </div>
  </div>
</script>
<script src="timeline-setter.js"></script>
