<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/timeline-setter.css" rel="stylesheet" />
    <script src="javascripts/vendor/jquery-min.js"></script>
    <script src="javascripts/vendor/underscore-min.js"></script>
    <script src="javascripts/timeline-setter.js"></script>
  </head>
  <body style="height: 100%">
    <%= timeline_markup %>
  </body>
</html>